################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Generics/.vs/Generics/v15/Server/sqlite3
